# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Docker
# Ignore build cache / volumes
docker-compose.override.yml
.dockerignore
**/docker-data/
**/docker-volumes/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
